* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #3366CC;
    cursor: pointer;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Lato,Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
}

.graphics {
    background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-46c49284.svg');
    background-repeat: no-repeat;
    color: transparent;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 55px;
    width: 100%;
}

header .logo {
    background-position: 0 -254px;
    height: 32px;
    width: 176px;
}

header .slogan {
    display: block;
    font-family: Linux Libertine,Georgia,Times,serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 8px 2px;
    width: 100%;
}

.lang-list {
    display: flex;
    margin: 20px auto;
    height: 300px;
    width: 450px;
}

.lang-list img {
    align-self: center;
    height: 180px;
    width: 200px;
}

.left-list, .right-list {
    display: inline-block;
}

.lang-list ul {
    list-style: none;
}

.lang-list ul li {
    text-align: center;
    width: 125px;
}

.lang-list ul li a {
    font-size: 1.6rem;
}

.lang-list ul li a:hover strong {
    cursor: pointer;
    text-decoration: underline;
}

.lang-list ul li p {
    color: #54595D;
    font-size: 1.3rem;
    margin: 3px 0;
}

.lang-list .lang1 {
    position: relative;
    top: 0;
    right: -20px;
}

.lang-list .lang2 {
    position: relative;
    top: 20px;
    right: 30px;
}

.lang-list .lang3 {
    position: relative;
    top: 40px;
    right: 45px;
}

.lang-list .lang4 {
    position: relative;
    top: 60px;
    right: 30px;
}

.lang-list .lang5 {
    position: relative;
    top: 80px;
    right: -20px;
}

.lang-list .lang6 {
    position: relative;
    top: 0;
    left: -20px;
}

.lang-list .lang7 {
    position: relative;
    top: 20px;
    left: 30px;
}

.lang-list .lang8 {
    position: relative;
    top: 40px;
    left: 45px;
}

.lang-list .lang9 {
    position: relative;
    top: 60px;
    left: 30px;
}

.lang-list .lang10 {
    position: relative;
    top: 80px;
    left: -20px;
}

.search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.input-search {
    align-items: center;
    display: flex;
    height: 44px;
    margin: 1rem 0;
    position: relative;
    width: 440px;
}

.input-search input {
    border: 1px solid #a2a9b1;
    border-radius: 2px 0 0 2px;
    border-right: 0;
    color: #a2a9b1;
    font-size: 1.6rem;
    height: 44px;
    outline: 0;
    padding: 0.8rem 5rem 0.8rem 1.6rem;
    width: 100%;
}

.input-search input:focus {
    border: 2px solid #36c;
}


.input-search .select-language {
    top: 1.4rem;
    right: 10.5rem;
    position: absolute;
}


.input-search .select-language label {
    color: #54595d;
    font-size: 1.3rem;
    margin-right: 5px;
    position: absolute;
    text-transform: uppercase;
}

.input-search .select-language #search-language {
    border: none;
    background: transparent;
    color: transparent;
    outline: 0;
    position: absolute;
}

.input-search .select-language #search-language option {
    color: #a2a9b1;
}

.input-search button {
    align-items: center;
    background-color: #36c;
    border: 1px solid #36c;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: center;
    height: 44px;
    outline: 0;
    padding: 0.8rem 1.6rem;
    width: 56px;
}

.language-list {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0 auto;
    width: 450px;
}

.language-list hr {
    background-color: #c8ccd1;
    border-width: 0;
    color: #c8ccd1;
    height: 1px;
    width: 100%;
}

.language-list .btn-section {
    background-color: #ffffff;
    padding: 0 1.5rem;
    position: absolute;
}

.language-list .btn-section .btn-language-list {
    background: #F8F9FA;
    border: 1px solid #a2a9b1;
    border-radius: 0.2rem;
    color: #3366CC;
    padding: 0.9rem 4rem;
    font-size: 1.4rem;
    font-weight: 700;
    outline: 0;
    position: relative;
}

.language-list .btn-section .btn-language-list:focus {
    border: 2px solid #36c;
}

.line {
    background-color: #c8ccd1;
    border-width: 0;
    color: #c8ccd1;
    height: 1px;
    margin: 25px auto;
    width: 99%;
}

footer {
    color: #54595D;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 18px 14px;
}

footer .footer-left {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.3rem;
    padding: 0 0 0 60px;
    max-width: 410px;
}

footer .footer-left .footer-left__host {
    display: inline-flex;
    justify-content: flex-end;
    padding: 10px;
}

footer .footer-left .footer-left__host-content {
    display: block;
    width: 85%;
}

footer .footer-left .footer-left__host-content p {
    color: #54595D;
    margin-left: 10px;
}

.icon-host {
    background-position: 0 -212px;
    width: 42px;
    height: 42px;
}

footer .footer-left .footer-left__apps {
    background-color: #f8f9fa;
    display: inline-flex;
    justify-content: flex-end;
    padding: 10px;
    max-height: 170px;
}

footer .footer-left .footer-left__apps-content {
    display: block;
    margin-left: 10px;
    width: 85%;
}

footer .footer-left .footer-left__apps-content a {
    font-weight: 700;
}

footer .footer-left .footer-left__apps-content p {    
    margin: 13px 0;
}

footer .footer-right {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 65%;
}

footer .footer-right .project {
    display: inline-flex;
    margin: 20px 0;
    width: 28%;
}

footer .footer-right .project-icon {
    width: 50px;
}

footer .footer-right .project-text {
    margin-left: 5px;
}

footer .footer-right .project span {
    display: block;
}

footer .footer-bottom {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

/* Icons */



.icon-google-play {
    background-position: 0 -541px;
    display: inline-block;
    width: 124px;
    height: 38px;      
}

.icon-app-store {
    background-position: 0 -579px;
    display: inline-block;
    width: 110px;
    height: 38px;       
}

.icon-wiki-app {
    background-position: 0 -719px;
    display: block;
    width: 42px;
    height: 42px;    
}

.icon-search {
    background-position: 0 -697px;
    height: 22px;
    width: 22px;    
}

.arrow-down-icon {
    background-position: 0 -519px;
    height: 12px;
    width: 12px;
    position: absolute;
    top: 0.5rem;
    left: 2rem;
}

.icon-language {
    background-position: 0 -617px;
    height: 22px;
    width: 22px;
    position: absolute;
    left: 12px;
    top: 7px;
}

.icon-arrow-down-blue {
    background-position: 0 -527px;
    height: 14px;
    width: 14px;
    position: absolute;
    right: 14px;
    top: 10px;
}

.icon-commons {
    background-position: 0 0;
    width: 47px;
    height: 47px;
}

.icon-wikivoyage {
    background-position: 0 -446px;
    width: 36px;
    height: 36px;
}

.icon-wiktionary {
    background-position: 0 -482px;
    width: 37px;
    height: 37px;
}

.icon-wikibooks {
    background-position: 0 -126px;
    width: 37px;
    height: 37px;    
}

.icon-wikinews {
    background-image: url('https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister@2x.png');
    background-position: 0 0;
    background-size: 47px 26px;
    width: 47px;
    height: 26px;    
}

.icon-wikidata {
    background-position: 0 -163px;
    width: 49px;
    height: 49px;    
}

.icon-wikiversity {
    background-position: 0 -409px;
    width: 43px;
    height: 37px;    
}

.icon-wikiquote {
    background-position: 0 -286px;
    width: 42px;
    height: 42px;    
}

.icon-mediawiki {
    background-position: 0 -47px;
    width: 42px;
    height: 42px;    
}

.icon-wikisource {
    background-position: 0 -328px;
    width: 39px;
    height: 39px;    
}

.icon-wikispecies {
    background-position: 0 -367px;
    width: 42px;
    height: 42px;    
}

.icon-meta-wiki {
    background-position: 0 -89px;
    width: 37px;
    height: 37px;    
}